.choose-heading {
    color: var(--Eminence-700, #992E9D);
}

.choose-cards {
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 320px));
    justify-content: center;
    row-gap: 20px;
    column-gap: 50px;
}

.choose-card {
    padding: 20px 0 0 0;
    display: grid;
    grid-template-columns: 60px auto;
    grid-template-rows: 1fr;
}

.choose-card-about {
    color: var(--Woodsmoke-500, #686972);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.choose-card-heading {
    color: var(--Woodsmoke-950, #1B1B1D);
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 108%;
    /* 34.56px */
}

.choose-card-bg {
    font-family: Poppins;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: rgba(117, 48, 228, 0.20);
    font-family: Poppins;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.choose-enroll {
    max-width: 320px;
}

.choose-enroll-div {
    width: 100%;
    display: flex;
    justify-content: center;
}

@media (width<680px) {

    .choose-card-heading {
        font-size: 28px;
    }

    .choose-card-about {
        font-size: 14px;
    }

    .enroll-large-screen {
        display: none;

    }

    .choose-enroll {
        width: 100%;
        text-align: center;
    }
}

@media (width<480px) {


    .choose-enroll {
        width: 100%;
        text-align: center;
    }
}